{% extends 'layout.html' %}

{% block css %}{% endblock %}

{% block body %}

<div class="container mt-5">
    <p class="h1 text-center text-light">Ecommerce Website Multipage Scrapper</p>
    
    <div class="card">
        <div class="card-body">
            <p class="display-4">Search Product here</p>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <label>Product Name</label>
                    <input class="form-control" name="product" id="product">
                </div>

                <div class="col-md-4">
                    <label>Maximum no. of Pages</label>
                    <input class="form-control" name="max" id="max">
                </div>
            </div>
            <button class="btn btn-outline-primary mt-5 btn-lg" id="start">Start Scraping</button>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    $(document).ready(() => {

        $('#start').click(() => {
            const product = $('#product').val()
            const max = $('#max').val()

            $.ajax({url : '/scrap', data : {product : product, maxpages : max}, method : "get", complete : (data) => {
                console.log(data.responseJSON);
                sessionStorage.setItem('data', JSON.stringify(data.responseJSON))
                    Swal.fire({
                        icon : 'success',
                        title: 'Data Successfully Collected!',
                        html: 'Proceed to see',
                        }).then(() => {
                            window.location.replace('/display')
                        })
                
            },
            beforeSend: () => {
                Swal.fire({
                    title: 'Wait a bit!',
                    html: 'This may take some time',
                    timerProgressBar: true,
                    onBeforeOpen: (
                        
                    ) => {
                        Swal.showLoading();
                    },
                    })
            },
            })
        });

    });
</script>
{% endblock %}
